* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}
.navbar {
    background-color: #0d47a1; /* Warna biru cerah */
    padding: 15px 50px; /* Padding atas/bawah dan kiri/kanan */
    display: flex;
    justify-content: space-between; /* Pisahkan logo dan tautan navigasi */
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sedikit bayangan */
}

/* Gaya untuk logo */
.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Gaya untuk kumpulan tautan navigasi */
.nav-links {
    display: flex;
    gap: 30px; /* Jarak antar tautan */
}
.nav-links li {
  list-style: none;
}

/* Gaya untuk setiap tautan */
.nav-links a {
    color: white;
    text-decoration: none; /* Hilangkan garis bawah */
    font-size: 16px;
    font-weight: 500;
    padding: 10px 10px;
    transition: background-color 0.3s, color 0.3s;
}

/* Gaya saat tautan di-hover (opsional, untuk interaksi) */
.nav-links a:hover {
    color: rgba(255, 255, 255, 0.384);
    border-radius: 4px;
}

/* Gaya tambahan untuk halaman utama (opsional) */

body{
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.login-form{
    margin-top: 40px;
}
.login-form h3{
    text-align: center;
}
select{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
button{
    background-color: #00BFFF;
    width: 100%;
    padding: 10px;
    margin-top: 10px auto;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 10px;
    border: #00BFFF;
}
.login-btn{
    background-color: #00BFFF;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.login-btn:hover{
    background-color:blue;
}
a {
    text-align: center;
    font-size: 15px;
    align-items: center;
}
.text-center {
    text-align: center;
}
.error {
  display: none;
}