 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
.navbar {
    background-color: #00BFFF; /* Warna biru cerah */
    padding: 15px 50px; /* Padding atas/bawah dan kiri/kanan */
    display: flex;
    justify-content: space-between; /* Pisahkan logo dan tautan navigasi */
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sedikit bayangan */
}

/* Gaya untuk logo */
.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Gaya untuk kumpulan tautan navigasi */
.nav-links {
    display: flex;
    gap: 30px; /* Jarak antar tautan */
}

/* Gaya untuk setiap tautan */
.nav-links a {
    color: white;
    text-decoration: none; /* Hilangkan garis bawah */
    font-size: 16px;
    font-weight: 500;
    padding: 10px 10px;
    transition: background-color 0.3s, color 0.3s;
}

/* Gaya saat tautan di-hover (opsional, untuk interaksi) */
.nav-links a:hover {
    color: rgba(255, 255, 255, 0.384); /* Sedikit latar belakang saat di-hover */
    border-radius: 4px;
}

.registrasi-form{
    background-color: rgb(241, 241, 241);
    border-radius: 30px;
    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.226);
    display: block;
    width: 25%;
    padding: 40px;
    margin: 20px auto;
    align-items: center;
    margin-top: 30px;
}
.registrasi-form h3{
    text-align: center;
}
input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
button{
    background-color: #00BFFF;
    width: 100%;
    padding: 10px;
    margin-top: 10px auto;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 10px;
    border: #00BFFF;
}
.registrasi-btn{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.registrasi-btn:hover{
    background-color: blue;
}