body{
    font-family: 'Poppins','Sans-serif';
}
.jumbotron{
    background-color: #0dcaf0;
}
#tim{
    background-color: #0dcaf0;
}
section {
    padding-top: 8rem;
}
.nav-links a {
    color: white;
    text-decoration: none; /* Hilangkan garis bawah */
    font-size: 16px;
    font-weight: 500;
    padding: 10px 10px;
    transition: background-color 0.3s, color 0.3s;
}

/* Gaya saat tautan di-hover (opsional, untuk interaksi) */
.nav-links a:hover {
    color: rgba(255, 255, 255, 0.384);
    border-radius: 4px;
}

